.mainED {

	@extend .flex1;
	margin-bottom: 100px;
	margin-top: 30px;
	h1 {
		font-size: 1rem;
		text-align: center;
	}

	p{
		text-align: center;
	}

	section {
		margin: 20px;
	}

	

	@media (min-width: 992px) {
		h1 {
			font-size: 2rem;
		}
			}

	@media (min-width: 1024px) {
			section {
			display: flex;
			flex-direction: row;
				iframe {
					margin: 20px;
				}
			}

		}
	
}// cierra main ED 

