//cambio de color de las ul li a BS 
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
    
}

.entradasDiv {

		section {
			margin: 20px;

			h1{
				text-align: center;
	 			font-family: $tipoLetra1;
	 			padding: 30px;
			}

			.tableContainer	{
				overflow-x: auto;
				
				table {

					th {
			 			text-align: center;
			 		}

			 		td {
			 			@extend th;
			 		}

			 		.btnColor {
			 			background-color: grey;

			 			&:hover {
			 				transform: scale(1.1);
			 				transition: 0.3s;
			 				color: white;
			 			}
					}
				} //ends table 

			} // ends div


		} // ends section



	footer {
		grid-area: footer;
	}

	

} // ends contenedor principal entradasDiv





	
	
	

