//cambio de color de las ul li a BS 
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
    
}

.entradasDiv {
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"banner"
	"nav" 
	"main" 
	"footer";

	.banner {
		grid-area: banner;
	}

	.nav1 {
		grid-area: nav;
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: footer;
	}

	section {
		margin: 30px;

		h1{
			text-align: center;
 			font-family: $tipoLetra1;
 			padding: 30px;
		}

		th {
 			text-align: center;
 		}

 		td {
 			@extend th;
 		}

 		.btnColor {
 			background-color: grey;
 			&:hover {
 				transform: scale(1.1);
 				transition: 0.3s;
 				color: white;
 			}
		}

	}

}




	
	
	

