// footer

footer {
	background-color: map-get($map:$paleta,$key:'color8');
	height: 150px;
	padding: 20px;	
	@extend .flex1;

	a{
		text-decoration: none;
	}

	.footerH{
		font-size: 0.8rem;
		color: white;
		font-family: $tipoLetra1;
		margin-bottom: 20px;
	}
	img[src$=".svg"] {		
		width: 30px;
		height: 30px;
	}

	@media (min-width: 768px){
		.footerH{
			font-size: 1rem;
		}
		
	}
		
}
