// carousel

.disclaimer {
	display: none;
}

.festival7 {
	@media (min-width: 280px) {
		height: 300px;
	}

	@media (min-width: 768px) {
		height: 500px;
	}
}

.wos {
	@extend .festival7;
}

.festival5 {
	@extend .festival7;
}



// sobre nosotros
.sobreN {
	padding: 15px ;
	font-family: $tipoLetra1;
	@extend .flex1;

	h1{
		text-align: center;
		font-weight: 40px;
	}

		p {
			text-align: center;
		}

	.festival1 {
		@extend .tamanoImg;
	}

	@media (min-width: 768px){		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

		div	{
			width: 50%;
		}
		img {
			width: 50%;
		}

		.festival1 {
			width: 300px;
			height: 300px;
		}

	}// ends @media768px

}// ends sobreNosotros
 


// contactanos

.contactanos {
 	@extend .flex1;
	padding: 15px ;
	font-family: $tipoLetra1;

	h2 {
		text-align: center;
	}


	.festival2 {
		@extend .tamanoImg;

	}	

	a {
		text-decoration: none;
		
	}
	
	.btn1 {		
		background-color: blue;
		color: white;
		width: 50%;				
	}



	@media (min-width: 768px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

		div	{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;

			form {					
				width: 170%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		img {
			width: 50%;				
		}

		.festival2 {
			width: 300px;
			height: 300px;
		}

		div .form-check  {				
			display: flex;
			flex-direction: row;
		}

		div .form-text {				
			width: 100%;
		}

		.form-check-label {
		margin-left: 10px;
		}

	} // ends @media768px


} // ends contactanos







