.mapa {
	background-color: green;
	padding: 20px;
	padding-bottom: 200px;
	@extend .flex1;
	h1{
		background-color: blue;
		font-size: 1.2rem;
		padding: 20px;
		margin-bottom: 20px;
		@media (min-width: 400px) {
			font-size: 1.9rem;
		}

		@media (min-width: 992px) {
			font-size: 2rem;
		}
	}

	iframe {
		width: 200px;
		height: 200px;
		@media (min-width: 400px) {
			width: 370px;
			height: 300px;
		}

		@media (min-width: 992px) {
			width: 700px;
			height: 500px;

		}
	}
}